body {
    background-color: rgb(255, 159, 4);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: auto;
    height: 300px;
}

ol li, ul li {
    background-color: greenyellow;
    text-align: center;
    font-size: 25px;
}

.dish-display-img {
    width: 500px;
    height: auto;
}

.list-default {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.title {
    text-align: center;  
    color: white;
    font-size: 50px;
    background-image: url("https://media.giphy.com/media/BjoYuSJSQs7Be/giphy.gif");
}

#big-sign {
    font-size: 100px;
    color: purple;
}